html
    head
        title="Pixel Movie - "+title
        //- meta(name='viewport' content='width=device, initial-scale=1.0')
        link(rel='stylesheet' type='text/css' href='css/reset.css')
        link(rel='stylesheet' type='text/css' href='css/style.css')
        link(rel='stylesheet' type='text/css' href='css/film.css')
        link(rel='icon' type='image/png' href="img/camera.svg")  
    body
        header#header
            div#title
                img#logo(src="./img/camera.svg", alt="camera")
                h1="Pixel Movie"
            nav#navHeader
                a#butHome(href="/")="Home"
                a#butForm(href="/form")="Nueva Película"
        div#sheet
            h2#sheetHeader=title
            div#sheetContent
                div#contentSup
                    img#poster(src=poster alt="Poster Film")
                    p#id=id
                    div#det
                        p#score=score
                        div.cat
                            p.key="Director"
                            p.value#director=director
                        div.cat
                            p.key="País"
                            p.value#country=country                            
                        div.cat
                            p.key="Género"
                            p.value#genre=genre
                        div.cat
                            p.key="Año"
                            p.value#year=year
                        div.cat
                            p.key="Duración"
                            p.value#runtime=runtime
                div.catFilm
                    p.key="Reparto"
                    p.value#actors=actors
                div.catFilm
                    p.key="Sinópsis"
                    p.value#about=plot
                div.catFilm
                    p.key="Premios"
                    p.value#awards=awards 
    if !id    
        nav#navSheet
            input#butSave(type="button" onclick=`saveFilmApi()` value="Guardar en Favoritos")
        footer="Made by Marta Pulido 2020"
        script(src="script.js" defer)