html
    head
        title=title
        link(rel='stylesheet' type='text/css' href='css/reset.css')
        link(rel='stylesheet' type='text/css' href='css/style.css')
        link(rel='icon' type='image/png' href="img/camera.png")  
    body
        header#header
            div#headerTit
                img#logo(src="./img/camera.png", alt="camera")
                h1.fontPix="Pixel Movie"
            nav#header
                a(href="/" id="butHome" class="but" class="fontSecond")="Home"
                a(href="/form" id="butSave" class="but" class="fontSecond")="Guardar en Favoritos"
        div#sheet
            h2#filmTit.fontPix=title
            div#smallFilm
                div#smallSup
                    img#poster(src=poster, alt="Poster Film")
                    div#detFilmHome
                        div.catFilmHome
                            p.fontSecondBold.key="Director"
                            p.fontSecond.value#director=director
                        div.catFilmHome
                            p.fontSecondBold.key="Género"
                            p.fontSecond.value#genre=genre
                        div.catFilmHome
                            p.fontSecondBold.key="País"
                            p.fontSecond.value#country=country                            
                        div.catFilmHome
                            p.fontSecondBold.key="Fecha"
                            p.fontSecond.value#released=released
                        div.catFilmHome
                            p.fontSecondBold.key="Duración"
                            p.fontSecond.value#runtime=runtime
                    div#score.fontPix=score
                div.catFilmHome
                    p.fontSecondBold.key="Reparto"
                    p.fontSecond.value#actors=actors
                div.catFilmHome#about
                    p(class="key fontSecondBold")="Sinopsis"
                    p(class="value fontSecond")=plot
                div.catFilmHome#awards
                    p(class="key fontSecondBold")="Premios"
                    p(class="value fontSecond")=awards
        nav#navSheet
            input#butSaveF(type="button" onclick=`saveFilmApi()` value="Guardar en Favoritos" class="fontSecond")
        footer.fontSecond="Made by Marta Pulido 2020"
        script(src="script.js" defer)