html
    head
        title="Formulario"
        link(rel='stylesheet' type='text/css' href='css/reset.css')
        link(rel='stylesheet' type='text/css' href='css/style.css')
        link(rel='icon' type='image/png' href="img/camera.png")  
    body
        header#header
            div#headerTit
                img#logo(src="./img/camera.png", alt="camera")
                h1.fontPix="Pixel Movie"
            nav#header
                a(href="/" id="butHome" class="but" class="fontSecond")="Home"
                a(href="/form" id="butSave" class="but" class="fontSecond")="Guardar en Favoritos"
        div#sheet
            h2#filmTit.fontPix=action
            form(action="/exito" method="post")
                div#smallFilmForm
                    p(class="fontSecondBold key" id="id")=id
                    div.catFilmForm
                        p(class="fontSecondBold key")="Título"
                        input.form(type="text" name="title" id="titulo" value=title)
                    div.catFilmForm
                        p(class="fontSecondBold key")="Director"
                        input.form(type="text" name="director" id="director" value=director)
                    div.catFilmForm
                        p(class="fontSecondBold key")="Fecha"
                        input.form(type="date" name="released" id="released" value=released)
                    div.catFilmForm
                        p(class="fontSecondBold key")="Duración"
                        input.form(type="text" name="runtime" id="runtime" value=runtime)
                    div.catFilmForm
                        p(class="fontSecondBold key")="Carátula"
                        input.form(type="url" name="poster" id="poster" value=poster)
                    div.catFilmForm
                        p(class="fontSecondBold key")="Puntuación"
                        input.form(type="range" name="scoreForm" id="scoreForm" min="0" max="10" step="0.1" value=score)
                    div#iconsForm
                        img(src="./img/eye.png" alt="watched" id="eye")
                        input(type="checkbox" name="yes" id="watched" value="watched")
                        img(src="./img/loved.png" alt="loved" id="heart")
                        input(type="checkbox" name="yes" id="liked" value=liked)
                input(type="submit" value="Enviar" id="buttonSave" class="but fontSecond")
                
                //- a(href="/" id="buttonSave" class="but fontSecond")="Guardar en Favoritos"
        footer.fontSecond="Made by Marta Pulido 2020"
script(src="scriptForm.js" defer)