html
    head
        title=title
        link(rel='stylesheet' type='text/css' href='css/reset.css')
        link(rel='stylesheet' type='text/css' href='css/style.css')
        link(rel='icon' type='image/png' href="img/camera.png")       
    body
        header#header
            div#headerTit
                img#logo(src="./img/camera.png", alt="camera")
                h1.fontPix="Pixel Movie"
            nav#header
                a(href="/" id="butHome" class="but" class="fontSecond")="Home"
                a(href="/form" id="butSave" class="but" class="fontSecond")="Guardar en Favoritos"
        div#search
            input(type="text" placeholder="Busca una película" id="movSearch").big.fontSecond
            div
            button(type="button" id="buttonSearch" onclick="getFilmDetails()" class="fontSecond")="Obtén detalles"
        p#favTit.big.fontSecond="Tus peliculas favoritas"
        div#sheetPlusNav
            div#sheet
                each film in films
                    h2#filmTit.fontPix=film.title
                    div#sheetHome
                        img(id="posterHome" src=film.poster, alt="Poster Film")
                        div#detFilmHome
                            p(class="fontSecondBold key" id="id")=id
                            div.catFilmHome
                                p.fontSecondBold.key="Director"
                                p.fontSecond.value=film.director
                            div.catFilmHome
                                p.fontSecondBold.key="Fecha"
                                p.fontSecond.value=film.released
                            div.catFilmHome
                                p.fontSecondBold.key="Duración"
                                p.fontSecond.value=film.runtime
                            div#iconsHome
                                img(src="./img/eye.png" alt="watched" id="eye")
                                input(type="checkbox" name="watched" id="watched")
                                img(src="./img/loved.png" alt="loved" id="heart")
                                input(type="checkbox" name="liked" id="liked")
                        div#scoreHome
                                p.fontPix#score=film.score
                    nav#navSheet
                        a(href="#" id="butEditS" class="but fontSecond")="Editar"
                        a(href="#" onclick=`deleteFilmDetails("${film.film}")` id="butDeleteS" class="but fontSecond")="Borrar"
                        a(href="#" id="butDetailS" class="but" class="fontSecond")="Guardar"
                else 
                    p#resTit.big.fontSecond No tienes películas guardadas.
        footer.fontSecond="Made by Marta Pulido 2020"
script(src="script.js" defer)
